main h2 {
    font-family: var(--font-quicksand);
    margin-top: var(--rhythm);
    margin-left: 5%;
}

main p {
    font-family: var(--font-lora);
    margin: 0 var(--rhythm) 0 var(--rhythm);
    padding: 2% 2%;
}

main img {
    display: block;
    width:auto;
    height: 6.25rem;
    
}