/* fonts & colors & variables for page */
* { /* Calculating the size of boxes, resetting margin to 0 */
    box-sizing: border-box;
    margin: 0 auto;
}

/* Font Families */
@font-face {
    font-family: 'lora';
    src: url("../font/lora/Lora-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'lora';
    src: url("../font/lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: italic;
}
@font-face {
    font-family: 'quicksand';
    src: url("../font/quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

html {
    /* Colors */
    --main-background: #05061f;
    --text-color: #FFFFFF;

    /* Fonts */
    --font-lora: "lora";
    --font-quicksand:"quicksand";

    /* Miscellaneous */
    --rhythm: 2rem;
    font-size: 100%;
}
/* ^End of section^ */

/* For all pages*/
body { /* Sets the background of the page to black and the text color to white */
    background-color: var(--main-background);
    color: var(--text-color)
}

header { /* Makes the <h1> in the center bold, have small-caps, and quicksand font */
    font: small-caps bold 2rem var(--font-quicksand);
    margin: 1rem 0 2rem;
    text-align: center;
}

main h2 { /* Bolds the <h2> tags  and makes them 2.5rem size. Also underlines to make more distinct */
    font: bold 2.5rem var(--font-quicksand);
    margin: 0 5rem .33rem;
    text-decoration: underline;
}

main p { /* Sets the margin of the paragraphs and affects the line height, size, and font family  */
    font: 1.5rem/2.25rem var(--font-lora);
    margin: 0 5rem calc(var(--rhythm) + .5rem);
}

main img{ /* Just makes the images the same size as the display */
    width: 100vw;
}

footer { /* Sets padding on top so the nav system doesn't block any content off */
    padding-top: 10rem;
}

table.nav-system { /* Makes the nav system stay fixed at the bottom. */
    background-color: var(--main-background);
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100vw;
}
/* ^End of section^ */

/* For portfolio */
main video { /* Just makes the video the size of the display */
    width: 100vw;
}

section h2 { /* aligns the <h2> over the images and videos */
    text-align: center;
}

section img+p, section video+p { /* Pushes the content below each p down so they don't overlap */
    margin-bottom: calc(var(--rhythm) * 5);
    margin-top: var(--rhythm);
}
/* ^End of section^ */