/*
Iphone 8 Size:
Width: 375px
Height: 677px
*/

/* Calculating the size of boxes*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'qora';
    src: url("../font/lora/Lora-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'qora';
    src: url("../font/lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: italic;
}

@font-face {
    font-family: 'quicksand';
    src: url("../font/quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

html {
    /* Colors */
    --main-background: #000070;
    --text-color: #F3ECD9;
    --button-colors: #0000BF;
    /* Add a light accent color for fonts*/
    --secondary-color-1: #1B7AEE;
    --secondary-color-2: #D64C58;

    /* Fonts */
    --font-lora: "lora";
    --font-quicksand:"quicksand";

    --rhythm: 1.5rem;

    font-size: 100%;
}

body {
    background-color: var(--main-background);
    color: var(--text-color)
}

header {
    text-align: center;
    font-family: var(--font-quicksand);
}

main *{
    margin: 0;
}

main h2 {
    font-family: var(--font-quicksand);
    margin-top: var(--rhythm);
}

main p {
    font-family: var(--font-lora);
}

table.nav-system {
    background-color: var(--button-colors);
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100vw;
}

.nav-system th {
    border: 2px solid var(--text-color);
    padding: 0.625rem;
}

.nav-system a {
    color:var(--text-color);
    text-decoration: none;
}