/*
General css for all pages. Has styles for font and the nav system.
*/

/* Calculating the size of boxes*/
* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* Font Families */
@font-face {
    font-family: 'lora';
    src: url("../font/lora/Lora-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'lora';
    src: url("../font/lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: italic;
}
@font-face {
    font-family: 'quicksand';
    src: url("../font/quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

html {
    /* Colors */
    --main-background: #000070;
    --text-color: #F3ECD9;
    --button-colors: #0000FF;
    --secondary-color-1: #1B7AEE;
    --secondary-color-2: #D64C58;

    /* Fonts */
    --font-lora: "lora";
    --font-quicksand:"quicksand";

    /* Miscellaneous */
    --rhythm: 1rem;
    font-size: 100%;
}

body {
    background-color: var(--main-background);
    color: var(--text-color)
}

header {
    text-align: center;
    font-family: var(--font-quicksand);
    margin-top: 1%;
}

/* nav-system Styles */
table.nav-system {
    background-color: var(--button-colors);
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100vw;
}
.nav-system th {
    border: 2px solid var(--text-color);
    padding: 0.625rem;
}
.nav-system a {
    color:var(--text-color);
    text-decoration: none;
}