/*
CSS page solely for the home page. styles the header, main, etc...
*/

* {
    margin: 0 auto;
}

main h2 {
    font-family: var(--font-quicksand);
    margin-top: var(--rhythm);
    margin-left: 5%;
}

main p {
    font-family: var(--font-lora);
    margin: 0 5%;
}
