/*
CSS page solely for the portfolio page. styles main, img, p, etc...
*/

main h2 {
    font-family: var(--font-quicksand);
    margin-top: var(--rhythm);
    margin-left: 5%;
}

main p {
    font-family: var(--font-lora);
    margin: 0 3% 0 25%;
    padding: 2% 2%;
    background-color: var(--button-colors);
}